body {
    background-color: #f7f7f7;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    margin-bottom: 20px;
}

.btn-block {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}
